# Pandas


### What is a Pandas?

Pandas is a python module which helps to work with large data and get meaning full results out of it.

**Pandas** provide rich set of library to manipulate data.

We need to import pandas to use in python. We can import it by writing below line of code

In [ ]:
import pandas as pd

Now, we will import data from the CSV file. I am using newyork weather data. Following code will load data from csv file.

In [14]:
df = pd.read_csv("C:\\Users\\harsh\\Desktop\\weather_data_nyc_centralpark_2016.csv")
df.head() # This will return first few rows from our data. Thriugh this we can see the format of the data

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,01-01-2016,42,34,38.0,0.0,0.0,0
1,02-01-2016,40,32,36.0,0.0,0.0,0
2,03-01-2016,45,35,40.0,0.0,0.0,0
3,04-01-2016,36,14,25.0,0.0,0.0,0
4,05-01-2016,29,11,20.0,0.0,0.0,0

Now, we can use this data to find some meaningful information. Such as

What was an average temprature in 2016?
What was the maximum temprature?

Before we start manipulation of a data we nedd information about data. Like, What kind of data we are working with? What kind of information we have about data? How much information we have? etc.

As we have loaded our data into data frame, we can find answers of all the question we have about data

In [29]:
rows, column = df.shape # shape will return the number of rows and coulmns dataframe have (rows, columns)
print(rows)
print(column)

366
7

Now, if we want to find what kind of columns we have in our data

In [31]:
df.columns # this will print list of all column names

Index(['date', 'maximum temperature', 'minimum temperature',
       'average temperature', 'precipitation', 'snow fall', 'snow depth'],
      dtype='object')

We can access this coulmns in two ways
1. df['column_name']
2. df.column_name

I prefere first method over other because sometimes we have to dynamically access the differnt columns. We can achive that using first method of accessing columns which we can't do it using the second method.

There is one more advantage of using first method which you will see in next code.

In [32]:
df['date'].head(2)

0    01-01-2016
1    02-01-2016
Name: date, dtype: object

Now, If I want to read the **minimum temperture** column using second method?

*df.minimum temperature*  **We can't write this way as there is space in the column name**

In [38]:
df.precipitation.tail() # But as you can see, In some of our column name we have a space between words. 
                        # For this kind of column name we can't use this way of accessing columns

361    0.00
362    0.00
363    0.39
364    0.01
365    0.00
Name: precipitation, dtype: float64

To find the maximum value we will use the max(). max() is a function provided by the pandas which returns the maximum value of a perticular column of our data frame. **maximum teperature** is a column name in our data.

In [16]:
df['maximum temperature'].max()

96

Pandas provide mean() function. mean() will return the average of selected data frame column. Here we calculated the average of column **"average temperature"**

In [17]:
df['average temperature'].mean()

57.21584699453552

In [18]:
df['snow depth'].mean()

0.27595628415300544

Now, if we want to find the dates in which snow depth was above average in 2016

In [24]:
df[['date','snow depth']][df['snow depth'] > df['snow depth'].mean()]

           date  snow depth
22   23-01-2016           6
23   24-01-2016          22
24   25-01-2016          19
25   26-01-2016          17
26   27-01-2016           9
27   28-01-2016           6
28   29-01-2016           6
29   30-01-2016           6
30   31-01-2016           4
31   01-02-2016           2
35   05-02-2016           1
351  17-12-2016           2
352  18-12-2016           1

There are many other functions in pandas library Such as,
1. *min()* - This function returns the minimum value of a data
2. *std()* - Returns the standard deviation of a data
3. *max()* - Returns the maximum value
4. **

In [41]:
pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

We also can convert dataframes into numpy array using *to_numpy()* method. As per the pandas documentation this is process is computationaly very expensive.

In [42]:
df.to_numpy()

array([['01-01-2016', 42, 34, ..., 0.0, 0.0, 0],
       ['02-01-2016', 40, 32, ..., 0.0, 0.0, 0],
       ['03-01-2016', 45, 35, ..., 0.0, 0.0, 0],
       ...,
       ['29-12-2016', 46, 33, ..., 0.39, 0.0, 0],
       ['30-12-2016', 40, 33, ..., 0.01, 0.0, 0],
       ['31-12-2016', 44, 31, ..., 0.0, 0.0, 0]], dtype=object)

Pandas provide *describe()* fcuntion which gives common statastical parameters for data. Which includes Average, Minimum, Maximum, Standard Deviation and 25th, 50th, 75th percentiles

In [48]:
df.describe()

,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,64.625683,49.806011,57.215847,0.115219,0.098361,0.275956
std,18.041787,16.570747,17.124760,0.309682,1.441631,1.928253
min,15.000000,-1.000000,7.000000,0.000000,0.000000,0.000000
25%,50.000000,37.250000,44.000000,0.000000,0.000000,0.000000
50%,64.500000,48.000000,55.750000,0.000000,0.000000,0.000000
75%,81.000000,65.000000,73.500000,0.040000,0.000000,0.000000
max,96.000000,81.000000,88.500000,2.310000,27.300000,22.000000